.advices__header {
  @include container;
  padding: 90px 0;
}

.advices__header-inner {
  @include span(4);
  float: none;
  margin: 0 auto;
}

.advices__title {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 3rem;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.advices__text {
  font-family: $primary-font;
  font-size: 1.8rem;
  color: #000;
  line-height: 27px;
  text-align: center;
}
