.btn {
  display: inline-block;
  font-family: $primary-font;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 25px 20px;
  color: #000;
  background: #999;

  &.btn--yellow {
    background: #fed720;
  }

  &.btn--blue {
    background: #4e92dd;
    color: #fff;
  }
}
