.events__header {
  @include container;
  padding: 90px 0;
}

.events__header-inner {
  max-width: 550px;
  padding: 0 15px;
  margin: 0 auto;
}

.events__title {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 3rem;
  font-variant: small-caps;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.events__text {
  font-family: $primary-font;
  font-size: 1.8rem;
  font-variant: small-caps;
  color: #000;
  line-height: 27px;
  text-align: center;
}

.slider-nav__item {
  display: inline-block;
}

.events__body {
  background: url('../img/BG_for_Events.jpg');
  background-size: cover;
  padding-bottom: 130px;
  position: relative;
}

.events__body-inner {
  @include container;
}
