.footer {
  padding: 110px 0;
}

.footer-inner {
  @include container;
}

.footer-brand {
  @include clearfix;
}

.footer-brand-col {
  @include clearfix;
  margin: 0 auto;
  max-width: 400px;
  padding: 0 15px;
}

.footer-logo {
  width: 100%;
  text-align: center;

  @include susy-media($xs) {
    @include span(2 of 4);
  }
}

.footer-social {
  width: 100%;
  padding-top: 20px;
  text-align: center;

  @include susy-media($xs) {
    @include span(2 of 4);
  }

  a {
    display: inline-block;
    padding: 0 15px;
    opacity: .3;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  img {
    width: 24px;
  }
}

.footer-links {
  text-align: center;
  margin-top: 55px;
}

.footer-list__item {
  display: inline-block;
  padding: 0 22px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.footer-list-link {
  font-family: $primary-font;
  font-size: 1.8rem;
  font-variant: small-caps;
  display: block;
  color: #000;
}
