.projects__header {
  @include container;
  padding: 90px 0;
}

.projects__header-inner {
  max-width: 550px;
  padding: 0 15px;
  margin: 0 auto;
}

.projects__title {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 3rem;
  font-variant: small-caps;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.projects__text {
  font-family: $primary-font;
  font-size: 1.8rem;
  font-variant: small-caps;
  color: #000;
  line-height: 27px;
  text-align: center;
}

.projects__body {
  @include container(1590px);
}

.projects {
  .column {
    width: percentage(480 / 1590);
    float: left;
    position: relative;
    min-height: 1px;
    margin-right: percentage(75 / 1590);

    &:last-child {
      margin-right: 0;
    }
  }
}

.project-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.project-hover__body {
  @include center(y);
  position: relative;
  text-align: center;
  opacity: 1;
  transition: opacity .5s ease-in-out;
}
