.restaurants__header {
  @include container;
  padding: 90px 0;
}

.restaurants__header-inner {
  max-width: 380px;
  padding: 0 15px;
  margin: 0 auto;
}

.restaurants__title {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 3rem;
  font-variant: small-caps;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.restaurants__text {
  font-family: $primary-font;
  font-size: 1.8rem;
  font-variant: small-caps;
  color: #000;
  line-height: 27px;
  text-align: center;
}

.restaurants__body {
  @include container(1590px);
}

.restaurants {
  .column {
    width: percentage(480 / 1590);
    float: left;
    position: relative;
    min-height: 1px;
    margin-right: percentage(75 / 1590);

    &:last-child {
      margin-right: 0;
    }
  }
}

.restaurant {

}

.restaurant-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  
  &:hover {
    .restaurant-hover__body {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.restaurant-hover__body {
  @include center(y);
  position: relative;
  text-align: center;

  img {
    transform: scale(1);
    transition: transform .5s ease-in-out;
  }

  &.oli-img {
    padding: 0 18.958333333333333333333333333333%;
  }
}
