.restaurants__header {
  @include container;
  padding: 90px 0;
}

.restaurants__header-inner {
  @include span(4);
  float: none;
  margin: 0 auto;
}

.restaurants__title {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 3rem;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.restaurants__text {
  font-family: $primary-font;
  font-size: 1.8rem;
  color: #000;
  line-height: 27px;
  text-align: center;
}

.restaurants__body {
  @include container(1590px);
}

.restaurants {
  .column {
    width: percentage(480 / 1590);
    float: left;
    position: relative;
    min-height: 1px;
    margin-right: percentage(75 / 1590);

    &:last-child {
      margin-right: 0;
    }
  }
}

.restaurant {
  figure {
    img {
      position: relative;
    }
  }

  &:hover {
    img {
      z-index: 100;
    }
  }
}

.restaurant-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  &:hover {
    
    .restaurant-hover__body {
      opacity: 0;
    }
    
    .restaurant-hover__inf {
      opacity: 1;
    }
  }
}

.restaurant-hover__body {
  @include center(y);
  position: relative;
  text-align: center;
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.restaurant-hover__inf {
  @include center(y);
  position: relative;
  text-align: center;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
