.restaurants {
  .column {
    width: percentage(4 / 12);
    float: left;
    position: relative;
    min-height: 1px;
  }
}

.restaurant {
  figure {
    img {
      transform: scale(1);
      transition: transform .2s linear;
      position: relative;
    }
  }

  &:hover {
    img {
      transform :scale(1.1);
      z-index: 100;
    }
  }
}

.restaurants__body {
  @include clearfix;
  overflow: hidden;
}

.restaurant-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  &:hover {
    
    .restaurant-hover__body {
      opacity: 0;
    }
    
    .restaurant-hover__inf {
      opacity: 1;
    }
  }
}

.restaurant-hover__body {
  @include center(y);
  position: relative;
  text-align: center;
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.restaurant-hover__inf {
  @include center(y);
  position: relative;
  text-align: center;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
